<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <title>智能会议管理</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <!-- add styles -->
    <link href="/index/css/main.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="/index/table/css/style.css"/>

    <link rel="stylesheet" type="text/css"
          href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css"/>

    <script src="/index/table/js/jquery.min.js"></script>
    <script src="/index/table/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/index/table/js/bootbox.min.js"></script>

    <style type="text/css">
        a:hover {
            text-decoration: none;
        }
    </style>

</head>
<body>

<!--头部-->
<div th:replace="~{fragments/header :: header}"></div>

<div class="container" style="position: relative;top: -20px;left: -200px">
    <ul class="menu">
        <!--<li><a href="#">Home</a></li>-->
        <li>
            <a th:href="@{/to/reserve/center}">预定中心</a>
        </li>
        <li class="active">
            <a th:href="@{/to/user/auth}">认证中心</a>
        </li>
        <li>
            <a th:href="@{/to/usermgn}">用户管理</a>
        </li>
        <li>
            <a th:href="@{/to/control}">控制中心</a>
        </li>
    </ul>
</div>

<div class="box" style="position: relative;top: -42px;">
    <div class="content">
        <!--搜索输入框及查询、重置按钮-->
        <div class="container content_width">
            <div class="person_search">
                <div class="search_input">
                    <div class="input-group mb-3">
                        <span>会议室：</span>
                        <input id="smrn" type="text" class="form-control" placeholder="请输入会议室名称/状态">
                    </div>
                </div>
                <div class="search_input">
                    <button class="btn btn-primary search_btn" type="button" id="search_btn">查询</button>
                    <!--<button th:if="${mainMrPage.isSearch == 1}" class="btn btn-primary search_btn" type="hidden" id="end_search_btn">结束查询</button>-->
                </div>
            </div>
            <div class="line"></div>
        </div>
        <!--添加按钮及bootstrap的模态框-->
        <div class="export">
            <div class="modal fade" id="xrenyuan">
                <div class="modal-dialog modal-lg modal_position">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">预约会议室</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <table id="xxztb" class="table">
                                <!--修改会议弹窗的样式-->
                                <tbody>
                                <tr>
                                    <td class="tb_bg"><label for="reserveDay"><font
                                            style="font-size: 14px; color: red;">*</font>预约日期</label>
                                    </td>
                                    <td><input class="reserveDay" id="reserveDay" name="reserveDay" type="date"/></td>
                                </tr>
                                <tr>
                                    <td class="tb_bg"><label for="startTime"><font
                                            style="font-size: 14px; color: red;">*</font>开始时间</label>
                                    </td>
                                    <td><input class="startTime" id="startTime" name="startTime" type="time"/></td>
                                    <td class="tb_bg"><label for="endTime"><font
                                            style="font-size: 14px; color: red;">*</font>结束时间</label>
                                    </td>
                                    <td><input class="endTime" id="endTime" name="endTime" type="time"/></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                            <button id="xadd_btn" type="button" class="btn btn-secondary">确定</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--表格列表-->
        <table id="tb" class="table">
            <thead>
            <tr>
                <th>会议室</th>
                <th>容纳人数</th>
                <th>预约状态</th>
                <th>预约情况</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="show_tbody">
            <tr th:each="mr : ${mainMrPage.mrList}" >
                <td th:text="${mr.meetingName}"></td>
                <td th:text="${mr.containNum}"></td>
                <td th:text="${mr.reserveStatus}"></td>
                <td th:utext="${mr.reserveTime}"></td>
                <td>
                    <a th:id="${mr.meetingId}" href="#" class="edit" th:title="${mr.reserveStatus}">预约</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="content">
        <div th:if="${mainMrPage != null}" style="display: inline;">
            共<span id="totalPage" th:text="${mainMrPage.totalPage}"></span>页
            &nbsp;&nbsp;
            共<span th:text="${mainMrPage.totalNum}"></span>条

            &nbsp;&nbsp;
            <a th:if="${mainMrPage.page}>1"
               th:href="@{/index(page=${mainMrPage.page - 2})}">上一页</a>
            &nbsp;&nbsp;
            <span th:text="${mainMrPage.page}"></span>
            &nbsp;&nbsp;
            <a th:if="${mainMrPage.page}<${mainMrPage.totalPage}"
               th:href="@{/index(page=${mainMrPage.page})}">下一页</a>
            &nbsp;&nbsp;
            前往
            <input id="toPage" type="number" style="width: 50px">
            页
            <a href="javascript:toSkip()">Go</a>
        </div>
    </div>
</div>

<script src="/index/table/js/mejs.js"></script>
</body>
</html>