<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="utf-8" />
	<title>智能会议管理</title>

	<!-- add styles -->
	<link href="/index/css/main.css" rel="stylesheet" type="text/css" />

    <!--表格-->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/index/table/css/demo.css">

    <style type="text/css">
        *{margin:0;padding:0;list-style-type:none;}
        a,img{border:0;}
        body{font:12px/180% Arial,Lucida,Verdana,"宋体",Helvetica,sans-serif;font-size:13px;color:#211922;text-shadow:0 1px rgba(255,255,255,0.9);}
        a{
            cursor: pointer;
        }
        a:hover{
            text-decoration: none;
        }
    </style>

</head>
<body>

    <!--头部-->
    <div th:replace="~{fragments/header :: header}"></div>

	<div class="container" style="position: relative;top: -20px;left: -200px">
		<ul class="menu">
			<!--<li><a href="#">Home</a></li>-->
			<li>
				<a href="#">预定中心</a>
			</li>
			<li class="active">
				<a href="#">认证中心</a>
			</li>
			<li>
				<a href="#">签到</a>
			</li>
			<li>
                <a href="#">用户管理</a>
				<!--<ul class="submenu">-->
					<!--<li><a href="#">认证审核</a></li>-->
					<!--<li><a href="#">预定审核</a></li>-->
					<!--<li><a href="#">管理用户</a></li>-->
				<!--</ul>-->
			</li>
			<li>
                <a th:href="@{/to/control}">控制中心</a>
			</li>
		</ul>
	</div>

    <!--分页-->
    <div class="container">
        <div class="row">
            按名称查询
            <input type="text" style="width: 100px">
            按空闲时间查询
            <input type="date">
            <input type="time">
            <input type="time">
            <a>查询</a>
        </div>
        <div class="row">
            <div class="col-md-12" style="padding:2em 0;">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped" id="mytable">
                        <thead>
                        <tr>
                            <td>会议室</td>
                            <td>容纳量</td>
                            <td>会议室状态</td>
                            <td>预约情况</td>
                            <td>操作</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>B302</td>
                            <td>25</td>
                            <td>随时预约</td>
                            <td></td>
                            <td>
                                <a>预约</a>
                            </td>
                        </tr>
                        <tr>
                            <td>B302</td>
                            <td>25</td>
                            <td>存在预约</td>
                            <td>2019-08-30 05:05--06:06<br>2019-08-30 05:05--06:06</td>
                            <td>
                                <a>预约</a>
                            </td>
                        </tr>
                        <tr>
                            <td>B302</td>
                            <td>25</td>
                            <td>出现故障</td>
                            <td>2019-08-30 05:05--06:06</td>
                            <td>
                                <a>暂不可用</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div style="display: inline;">
                共15页 共5条

                上一页
                5
                下一页

                每页显示
                <select style="width: 45px">
                    <option>10</option>
                    <option>20</option>
                    <option>30</option>
                </select>
                条
                前往
                <input type="number" style="width: 50px">
                页
                <a  href="#">Go</a>
            </div>
        </div>
    </div>

    <script src="/index/table/js/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/index/table/js/bootstable.js"></script>

</body>
</html>