<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1 maximum-scale=2, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Add to Home">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-rim-auto-match" content="none">
    <title>智能会议管理--认证中心</title>
    <!-- 网站的ico图标 -->
    <link href="/user/auth/css/publi.css" rel="stylesheet" type="text/css">
    <link href="/user/auth/css/style.css" rel="stylesheet" type="text/css">
    <!--弹框-->
    <link rel="stylesheet" href="/naran/css/naranja.min.css">
    <script type="text/javascript" src="/naran/js/naranja.js"></script>
</head>

<body>
<!-- ====================================loading -->
<section id="loading"></section>
<!-- ====================================页面开始 -->
<!--登录-->
<!--头部-->
<div th:replace="~{fragments/header :: header}"></div>
<header class="acc_head">
    <div class="clearfix">
        <h1 class="tc">个人信息认证表单</h1>
        <a href="#" class="out_icon" style="color: #C4302B;font-weight:bolder;font-size: 18px "
           onclick="submitF()">提交</a>
    </div>

</header>
<section class="acc_apply">
    <ul>
        <li class="clearfix">
            <label class="tl acc_five">姓名：</label>
            <input id="realname" autocomplete="off" placeholder="请输入姓名" class="" type="text"/>
        </li>
        <li class="clearfix">
            <label class="tl acc_five">工号：</label>
            <input id="jobNum" autocomplete="off" placeholder="请输入工号" class="" type="text"/>
        </li>
        <li class="clearfix">
            <label class="tl acc_four fl">证件照片：</label>
        </li>
        <li style="border-top: 0; margin-bottom: 60px;">
            <div class="acc_img">
                <p class="tc">参考样例</p>
                <div id="sss">
                    <img class="acc_imgin" src="/user/auth/img/acc_img.png" id="img0">
                </div>
                <div class="acc_sc">
                    <a href="javascript:;" class="tc acc_scicon" style="color: black">选择图片</a>
                    <input style="cursor: pointer"
                           type="file" name="file0" id="file0" multiple class="ph08"
                           accept="image/png, image/jpg, image/jpeg, image/bmp"/>

                </div>
                <p class="ph09 ">
                    注：身份证上的所有信息清晰可见，必须能看清证件号。照片需免冠，建议未化妆。手持证件人的五官清晰可见。照片内容真实有效。不得做任何修改。支持png、jpg、jpeg、bmp格式照片。大小不超过5M</p>
            </div>
        </li>
    </ul>
</section>
<!--弹出层-->
<!-- 网站要用到的一些类库 -->
<script src="/user/auth/js/jquery1.8.3.min.js"></script>
<script src="/control/js/ajax.js"></script>
<script src="/user/auth/js/script.js"></script>
<script type="text/javascript">

    $(function () {
        /*document.documentElement.style.fontSize=document.documentElement.clientWidth*12/320+'px';*/
        $(window).on("load", function () {
            $("#loading").fadeOut();
        })
        // ========================================浮层控制
        $("#tip .pack a").on("click", function () {
            $("#tip").fadeOut()
            $("#tip .pack p").html("")
            return false;
        })

        function alerths(str) {
            $("#tip").fadeIn()
            $("#tip .pack p").html(str)
            return false;
        }

        $(".acc_sure").on("click", function () {
            alerths("请等待审核！")
            return false;
        })
        $("#file0").change(function () {
            if (this.files && this.files[0]) {
                var objUrl = getObjectURL(this.files[0]);
                console.log("objUrl = " + objUrl);
                if (objUrl) {
                    $("#img0").attr("src", objUrl);
                    $("#file0").click(function (e) {
                        $("#img0").attr("src", objUrl);
                    });
                } else {
                    //IE下，使用滤镜
                    this.select();
                    var imgSrc = document.selection.createRange().text;
                    var localImagId = document.getElementById("sss");
                    //图片异常的捕捉，防止用户修改后缀来伪造图片
                    try {
                        preload.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = data;
                    } catch (e) {
                        this._error("filter error");
                        return;
                    }
                    this.img.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale',src=\"" + data + "\")";
                }
            }
        });

        //建立一個可存取到該file的url
        function getObjectURL(file) {
            var url = null;
            if (window.createObjectURL != undefined) { // basic
                url = window.createObjectURL(file);
            } else if (window.URL != undefined) { // mozilla(firefox)
                url = window.URL.createObjectURL(file);
            } else if (window.webkitURL != undefined) { // webkit or chrome
                url = window.webkitURL.createObjectURL(file);
            }
            return url;
        }
    })
</script>
<script type="text/javascript">
    function submitF() {
        var realname = document.getElementById("realname").value.trim();
        var jobNum = document.getElementById("jobNum").value.trim();
        var authImg = document.getElementById("file0").files[0];

        if (realname == "") {
            narn("warn", "请输入真实姓名！")
        } else if (jobNum == "") {
            narn("warn", "请输入工号/学号！")
        } else if (authImg == "") {
            narn("warn", "请选择证件照片！")
        } else {
            narn("success", "正在上传，请稍后！")
            var formData = new FormData();
            formData.append("realname", realname)
            formData.append("jobNum", jobNum)
            formData.append("authImg", authImg)
            $.ajax({
                type: "POST",
                url: "/user/auth",
                data: formData,
                dataType: "text", //return dataType: text or json
                processData: false,
                contentType: false,
                success: function (json) {
                    if ("seccess" == json) {
                        narn("success", "上传成功，请等待审核！")
                    } else if ("fail" == json) {
                        narn("success", "上传失败，请检查网络！")
                    }
                },
                error: function (json) {
                    narn("success", "上传失败，请检查网络！")
                    return
                }
            });
        }
    }

    /**
     * 弹出对话框
     * @param type
     * @param msg
     */
    function narn(type, msg) {
        naranja()[type]({
            title: '消息提示',
            text: msg,
            timeout: 'keep',
            buttons: [{
                text: '接受',
                click: function (e) {
                    naranja().success({
                        title: '通知',
                        text: '通知被接受'
                    })
                }
            }, {
                text: '取消',
                click: function (e) {
                    e.closeNotification()
                }
            }]
        })
    }
</script>
</body>

</html>