<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>

    <div th:fragment="footer" class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <p class="copyright text-muted">Dirk Blog &copy; 2019 我们的天空
                    | 更多项目
                    <a href="https://github.com/drikZLW/CodeScan" target="_blank" title="代码量统计软件">CodeScan</a>
                    <a href="https://github.com/drikZLW/crm-ssh" target="_blank" title="CRM客户端管理系统">CRM-SSH</a>
                    <a href="https://github.com/drikZLW/dirk-blog" target="_blank" title="DirkBlog 0.0.1版">DirkBlog_V1</a>
                    <a href="https://github.com/drikZLW/ysu-crawler" target="_blank" title="在线超级课程表，仅限于YSU">YSU-CRAWLER</a>
                </p>
            </div>
        </div>
    </div>

</body>
</html>