<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>

    <div th:fragment="footer" style="text-align: center;height: 2em">
        <p class="copyright text-muted">Intel Meeting&copy; 2019 智能会议室管理系统
            | 了解更多
            <a href="https://github.com/intelme/intel-meeting" target="_blank" title="Git上阅读、下载源码">GitHub</a>
            <a href="http://39.107.249.220/im-api/" target="_blank" title="接口文档在线阅读">API</a>
        </p>
    </div>

</body>
</html>