<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--suppress ALL-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>智能会议管理--使用统计</title>

    <link type="text/css" rel="stylesheet" href="/control/graph/css/index.css"/>
    <style type="text/css">
        a {
            cursor: pointer;
        }
    </style>
</head>
<body>
<!--头部-->
<div style="position: relative;top: 10px">
    <!--logo-->
    <div style="display: inline;margin-left: 1%">
        <a style="font-size: 25px" onclick="back()">返回</a>
    </div>
    <!--登录-->
    <div th:replace="~{fragments/header :: login}"></div>

</div>

<p>环形统计图</p>
<div id="ring" style="width:450px;height:164px;"></div>

<p>折线统计图</p>
<div id="line" style="width:822px;height:492px;"></div>


<p>柱状统计图</p>
<div id="pillar2" style="width:838px;height:305px;"></div>

<div class="null"></div>
<script type="text/javascript" src="/control/graph/js/jquery-1.7.2-min.js"></script>
<script type="text/javascript" src="/control/graph/js/echarts.min.js"></script>
</body>
<script type="text/javascript">
    //返回
    function back() {
        window.history.back(-1);
    }
</script>

<!--图标数据-->
<script th:inline="javascript" type="text/javascript">
    //环状图
    var ring = echarts.init(document.getElementById('ring'));
    var labelTop = {
        normal: {
            label: {
                show: true,
                position: 'center',
                formatter: '{b}',
                textStyle: {
                    baseline: 'bottom'
                }
            },
            labelLine: {
                show: false
            }
        }
    };
    var labelFromatter = {
        normal: {
            label: {
                formatter: function (params) {
                    return (100 - params.value).toFixed(2) + '%'
                },
                textStyle: {
                    baseline: 'top'
                }
            }
        },
    }
    var labelBottom = {
        normal: {
            color: '#ccc',
            label: {
                show: true,
                position: 'center'
            },
            labelLine: {
                show: false
            }
        },
        emphasis: {
            color: 'rgba(0,0,0,0)'
        }
    };
    var radius = [40, 55];
    var useRate = [[${graphInfo.useRate}]];
    var useRate_ = 100 - [[${graphInfo.useRate}]];
    var signRate = [[${graphInfo.signRate}]];
    var signRate_ = 100 - [[${graphInfo.signRate}]] ;
    ring.setOption({
        color: ["#33bb9f", "#ffa259", "#4cbbe6"],
        series: [
            {
                type: 'pie',
                center: ['15%', '58%'],
                radius: radius,
                x: '0%', // for funnel
                itemStyle: labelFromatter,
                data: [
                    {name: 'other', value: useRate_, itemStyle: labelBottom},
                    {name: '使用率', value: useRate, itemStyle: labelTop}
                ]
            },
            {
                type: 'pie',
                center: ['45%', '58%'],
                radius: radius,
                x: '20%', // for funnel
                itemStyle: labelFromatter,
                data: [
                    {name: 'other', value: useRate, itemStyle: labelBottom},
                    {name: '取消率', value: useRate_, itemStyle: labelTop}
                ]
            },
            {
                type: 'pie',
                center: ['75%', '58%'],
                radius: radius,
                x: '40%', // for funnel
                itemStyle: labelFromatter,
                data: [
                    {name: 'other', value: signRate_, itemStyle: labelBottom},
                    {name: '签到率', value: signRate, itemStyle: labelTop}
                ]
            }
        ]
    });


    //折线图
    var line = echarts.init(document.getElementById('line'));
    var week1 = [[${graphInfo.week1}]];
    var week2 = [[${graphInfo.week2}]];
    var week3 = [[${graphInfo.week3}]];
    var week4 = [[${graphInfo.week4}]];
    var week5 = [[${graphInfo.week5}]];
    var week6 = [[${graphInfo.week6}]];
    var week0 = [[${graphInfo.week0}]];
    line.setOption({
        color: ["#32d2c9"],
        title: {
            x: 'left',
            text: '预定量统计',
            textStyle: {
                fontSize: '18',
                color: '#4c4c4c',
                fontWeight: 'bolder'
            }
        },
        tooltip: {
            trigger: 'axis'
        },
        toolbox: {
            show: true,
            feature: {
                dataZoom: {
                    yAxisIndex: 'none'
                },
                dataView: {readOnly: false},
                magicType: {type: ['line', 'bar']}
            }
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日'],
            axisLabel: {
                interval: 0
            }
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name: '预定量',
                type: 'line',
                //将周一数据定义变量显示，否则报错
                data: [week1, week2, week3, week4, week5, week6, week0],
                markLine: {data: [{type: 'average', name: '平均值'}]}
            }
        ]
    });

    //柱状图2
    var pillar2 = echarts.init(document.getElementById('pillar2'));
    pillar2.setOption({
        color: ["#00afff"],
        title: {
            x: 'left',
            text: '预定量统计',
            textStyle: {
                fontSize: '18',
                color: '#4c4c4c',
                fontWeight: 'bolder'
            }
        },
        tooltip: {
            trigger: 'axis'
        },
        calculable: true,
        xAxis: [
            {
                type: 'category',
                data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
            }
        ],
        yAxis: [
            {
                type: 'value'
            }
        ],
        series: [
            {
                name: '全天预约',
                type: 'bar',
                data: [week1, week2, week3, week4, week5, week6, week0]
            }
        ]
    });

</script>

</html>