<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <title>智能会议管理--预定记录</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <!-- add styles -->
    <link href="/index/css/main.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="/table/css/style.css"/>

    <link rel="stylesheet" type="text/css"
          href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css"/>

    <script src="/table/js/jquery.min.js"></script>
    <script src="/table/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/table/js/bootbox.min.js"></script>

    <style type="text/css">
        a:hover {
            text-decoration: none;
        }
    </style>

</head>
<body>

<!--头部-->
<div th:replace="~{fragments/header :: header}"></div>

<div class="box" style="position: relative;top: -40px;">
    <div class="content">
        <!--搜索输入框及查询、重置按钮-->
        <div class="container content_width">
            <div class="person_search">
                <div class="search_input">
                    <div class="input-group mb-3">
                        <span>姓名：</span>
                        <input id="Ktext" type="text" class="form-control" placeholder="请输入预订人姓名\会议室">
                    </div>
                </div>
                <div class="search_input">
                    <div class="input-group mb-3" hidden>
                        <span>工号：</span>
                        <input id="job_num" type="text" class="form-control" placeholder="请输入工号">
                    </div>
                </div>
                <div class="search_input">
                    <button class="btn btn-primary search_btn" type="button" id="search_btn">查询</button>
                    <!--<button class="btn btn-primary search_btn" type="hidden" id="back_btn">结束查询</button>-->
                    <button th:if="${recordPage.isSearch == 1}" class="btn btn-primary search_btn" type="hidden" id="back_btn">结束查询</button>
                </div>
            </div>
            <div class="line"></div>
        </div>
        <!--表格列表-->
        <table id="tb" class="table">
            <thead>
            <tr>
                <th>会议室</th>
                <th>预订人</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>签到时间</th>
                <th>使用情况</th>
            </tr>
            </thead>
            <tbody id="show_tbody">
            <tr th:each="record : ${recordPage.mrList}" >
                <td th:text="${record.meetingAddress}"></td>
                <td th:text="${record.realname}"></td>
                <td th:text="${record.startTime}"></td>
                <td th:utext="${record.endTime}"></td>
                <td th:if="${record.signTime} eq '0000-00-00 00:00'">未签到</td>
                <td th:if="${record.signTime} ne '0000-00-00 00:00'" th:text="${record.signTime}"></td>
                <td th:if="${record.usageStatus} eq '1'">预定后使用</td>
                <td th:if="${record.usageStatus} eq '2'">取消了预定</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="content">
        <div th:if="${recordPage != null}" style="display: inline;">
            共<span id="totalPage" th:text="${recordPage.totalPage}"></span>页
            &nbsp;&nbsp;
            共<span th:text="${recordPage.totalNum}"></span>条

            &nbsp;&nbsp;
            <a th:if="${recordPage.page}>1"
               th:href="@{/to/control/record(page=${recordPage.page - 2})}">上一页</a>
            &nbsp;&nbsp;
            <span th:text="${recordPage.page}"></span>
            &nbsp;&nbsp;
            <a th:if="${recordPage.page}<${recordPage.totalPage}"
               th:href="@{/to/control/record(page=${recordPage.page})}">下一页</a>
            &nbsp;&nbsp;
            前往
            <input id="toPage" type="number" style="width: 50px">
            页
            <a href="javascript:toSkip()">Go</a>
        </div>
    </div>

</div>
<script src="/usermgn/js/ajax.js"></script>
<script src="/usermgn/table/mejs.js"></script>
<script type="text/javascript">
    //查询
    $('#search_btn').click(function () {
        var a = $('#show_tbody tr');
        var nameVal = $('#Ktext').val().trim();
        if (nameVal==='') {
            bootbox.alert({
                title: "来自火星的提示",
                message: "搜索内容不能为空",
                closeButton:false
            })
            return;
        }else{
            var href = "/to/control/record/search?nameVal=" + nameVal;
            window.open(href, "_self")
        }
    })

    //结束查询
    $('#back_btn').click(function () {
        var href = "/to/control/record";
        window.open(href, "_self");
    })

</script>
<!--<script src="/control/record/mejs.js"></script>-->
</body>
</html>
