<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--suppress ALL-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>智能会议管理--用户管理</title>

    <link href="/usermgn/css/move.css" type="text/css" rel="stylesheet"/>

    <style type="text/css">
        a {
            cursor: pointer;
        }
    </style>
</head>
<body>

<!--头部-->
<div style="position: relative;top: 10px">
    <!--logo-->
    <div style="display: inline;margin-left: 1%">
        <a style="font-size: 25px" onclick="back()">返回</a>
    </div>
    <!--登录-->
    <div th:replace="~{fragments/header :: login}"></div>

</div>
<div>
    <ul class="list">
        <li>
            <div class="border"></div>
            <span class="icon">Z</span>
            <div class="text">
                <h2><a th:href="@{/to/usermgn/user-manage}">账户管理</a></h2>
                <h3 th:text="'用户量:'+${registNum}"></h3>
            </div>
        </li>
        <li>
            <div class="border"></div>
            <span class="icon">B</span>
            <div class="text">
                <h2><a th:href="@{/to/usermgn/auth-check}">认证审核</a></h2>
                <h3 th:text="'通过:'+${authStatus1}+' 审核中:'+${authStatus2}+' 未通过:' +${authStatus3}"></h3>
            </div>
        </li>
    </ul>
</div>
<script type="text/javascript">
    //返回
    function back() {
        window.history.back(-1);
    }
</script>
</body>
</html>